* {
  box-sizing: border-box;
  cursor: context-menu;
}

/* removes underline and other styling from elements like links */

.nounderline {
  text-decoration: none !important;
}

/* makes element invisible */

.ms-display-none {
  display: none !important;
}

.show {
  display: block !important;
}

body {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: rgba(155, 148, 148, 0.5);
}

body::-webkit-scrollbar {
  display: none;
}

.timeline {
  margin-top: 10px;
  margin-bottom: 45px;
}

/* style for add post */
.ms-addpost {
  margin-bottom: 30px;
  background-color: white;
  min-height: calc(100vh - 67px);
  padding-bottom: 25px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  overflow: hidden;
}

.ms-addpost-form {
  display: inline-block;
  width: 80%;
  text-align: center;
  margin-top: 10%;
}

.ms-addpost-input {
  width: 250px;
  text-decoration: none;
  height: auto;
  border-radius: 4px;
  background: transparent;
  /* border-bottom: 1px solid black !important; */
  text-align: center;
  font-size: 16px;
  color: black;
  font-family: monospace, "Courier New", Courier;
  padding: 30px 0;
}

.ms-addpost-input::-webkit-scrollbar {
  display: none;
}

.ms-addpost-button {
  width: 210px !important;
  height: 45px !important;

  color: white !important;
  text-align: center !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  background-color: #00802b !important;

  border: 1px solid black !important;
  border-radius: 4px !important;
}

.post-option-input-container {
  height: 40px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 0 15px;
  margin-bottom: -10px;
}

.post-option-input-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.post-option-input-container::-webkit-scrollbar {
  display: none;
}

.post-option-input {
  font-size: 16px;
  font-family: monospace, "Courier New", Courier;
  margin-right: 5px;
  /* width:  */
  padding: 7px 0;
  width: 100px;
  text-align: center;
  border: 1px solid #6c757d;
  border-radius: 4px;
}

/* style for dropdown */

.dropdown {
  width: 210px !important;
  position: relative;
  display: inline-block;
}

.dropbtn {
  width: 100% !important;
  height: 45px;
  background-color: #3498db;
  color: white;
  padding: auto;
  font-size: 18px;
  border: 1px solid black !important;
  border-radius: 4px !important;
  outline: none;
}

.ms-noofoptions {
  border: 1px solid black !important;
  padding: 3px;
  border-radius: 4px !important;
  background-color: rgb(80, 80, 71);
  margin-left: 5px;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100% !important;
  overflow: scroll;
  /* overflow-x: hidden;
  overflow-y: hidden; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* border: 1px solid black !important; */
  border-radius: 4px !important;
  outline: none;
  max-height: 100px;
}

.dropdown-content::-webkit-scrollbar {
  display: none;
}

/* -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: rgba(155, 148, 148, 0.5);
}

body::-webkit-scrollbar {
  display: none;
} */

.dropdown-content .ms-noofoptions-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  height: 100%;
}

.dropdown li:hover {
  background-color: #ddd;
}

/* style for add post */

/* hide sidebar for small devices */

.ms-sidebar {
  display: none;
}

/* grid view */

.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
}

.item1 {
  z-index: 0;
  display: none;
}

.item2 {
  z-index: 3;
}

.item3 {
  z-index: 5;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  position: fixed;
}

/* end of grid view */

/* styles for top nav-bar */

.ms-top-navbar {
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
  list-style-type: none;
  margin: 0;
  padding: 16px 0;
  overflow: hidden;
  background-color: rgb(245, 242, 242);
  box-shadow: 0 2px 6px -1px #6c757d;
}

/* end of styles for top nav-bar */

/* styles for top nav-bar register and login button */
.unauthorised-navbar-item {
  float: right !important;
  width: auto !important;
  margin-right: 20px !important;
}

.ms-register-button {
  border-radius: 4px;
  padding: 3px 15px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.ms-register-button:hover {
  color: white;
  background-color: black;
}

/* styles for top nav-bar logo container */

.ms-top-navbar-item {
  float: left;
  width: 25%;
}

.ms-top-navbar-item .ms-nav-link {
  display: block;
  text-align: center;
}
/* end of styles for top nav-bar logo container */

/* styles for nav-bar logos and items*/

.ms-home-logo:hover {
  content: url("../logos/home_logos/filledHome.png");
}

.ms-notification-logo:hover {
  content: url("../logos/notification_logos/filledNotification.png");
}

.ms-search-logo:hover {
  content: url("../logos/search_logos/filledSearch.png");
}

.search-bar {
  position: relative;
  width: 170%;
  margin-left: -90%;
  border-radius: 10px;
  height: 30px;
  margin-top: -5px;
  outline: none;
  border: 1px solid #6c757d;
  padding: 0 7px;
  font-size: 16px;
  text-align: center;
}

.ms-setting-logo {
  height: 20px;
  width: 20px;
}

.ms-setting-logo:hover {
  content: url("../logos/setting_logos/filledSetting.png");
}

.ms-search-page {
  font-size: 16px;
  margin-bottom: 30px;
  min-height: calc(100vh - 67px);
  padding-top: 15px;
  padding-bottom: 25px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 4px;
}

.ms-profile-logo {
  margin-top: -1px;
}

.ms-profile-logo:hover {
  content: url("../logos/myprofile_logo/filledProfile.png");
}

.ms-usersgroup-logo {
  margin-top: -5px;
}

.ms-usersgroup-logo:hover {
  content: url("../logos/usersgroup_logos/filledUsersgroup.png");
}

.ms-addPost-logo {
  height: 25px;
  width: 25px;
  margin-top: -3px;
}

.ms-addPost-logo:hover {
  content: url("../logos/add_post_logos/filledAddPost.svg");
}

.ms-more-logo {
  height: 10px;
  width: 10px;
}

/* end styles for nav-bar logos */

/* styles for bottom nav-bar */

.ms-bottom-navbar {
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 5;
  list-style-type: none;
  margin: 0;
  padding: 16px 0;
  overflow: hidden;
  background-color: rgb(245, 242, 242);
  box-shadow: 0 -2px 6px -1px #6c757d;
}

/* end of styles for bottom nav-bar */

/* styles for top nav-bar logo container */

.ms-vote-button {
  border: 1px solid black;
  border-radius: 4px;
  padding: 3px 15px;
  color: white;
  background-color: #00802b;
  font-family: Arial, Helvetica, sans-serif;
}

.ms-vote-button:hover {
  color: white;
  background-color: black;
}

.ms-bottom-navbar-item {
  float: left;
  width: 25%;
}

.ms-bottom-navbar-item .ms-nav-link {
  display: block;
  text-align: center;
}
/* end of styles for top nav-bar logo container */

/* styles for register and login forms */

.ms-loginform {
  background-color: white;
  width: 100%;
  min-height: 100%;
  padding-top: 30%;
  position: relative;
}

.ms-mainregister {
  background-color: white !important;
}

.ms-form-align {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: white;
}

.ms-register-form {
  margin-top: 55px;
  width: 100%;
  min-height: 100%;
}

.form-header {
  width: 100% !important;
  height: 55px !important;
  border: 0 !important;
  outline: 0 !important;
  background: transparent !important;

  text-align: center !important;
  font-size: 30px !important;
  color: #6c757d;
}

.ms-form-input {
  width: 60% !important;
  height: 45px !important;
  border: 0 !important;
  outline: 0 !important;
  background: transparent !important;
  border-bottom: 1px solid black !important;

  text-align: center !important;
  font-size: 20px !important;
  color: black;
}

.ms-form-button {
  width: 60% !important;
  height: 45px !important;

  color: white !important;
  text-align: center !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  background-color: #00802b !important;

  border: 1px solid black !important;
  border-radius: 4px !important;
}

/* styles for form ends */

/* removes gutter in bootstrap containers */

.container.ms-no-gutter {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

/* ends removes gutter in bootstrap containers  */

/* normalize styles for all the links */
.ms-link {
  text-decoration: none;
}

/* style for post */

.post {
  background-color: white;
  width: 100%;
  white-space: normal;
  margin-bottom: 5px;
  /* border-top: 1px solid #6c757d; */
}

.post-header {
  padding: 15px 15px;
  display: block;
}

.post-author-name {
  margin-right: 4px;
  font-weight: 600;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

.post-date {
  margin-left: 4px;
  font-size: 15px;
}

.post-para {
  margin-bottom: 10px;
  padding: 10px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14 px;
  white-space: normal;
  color: black;
}

.post-option-display {
  height: 40px;
  overflow: scroll;
  white-space: nowrap;
  padding: 10px 15px;
  margin-bottom: -10px;
}

.post-option-display {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.post-option-display::-webkit-scrollbar {
  display: none;
}

.option-display {
  margin-right: 5px;
  padding: 5px 22px;
  text-align: center;
  border: 1px solid #6c757d;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
}

/* style for the horizontal line after options */

.ms-hrline-afteroptions {
  width: 95%;
  margin-top: 18px;
  z-index: 1;
}

.ms-post-footer {
  height: 40px;
  width: 100%;
  margin-top: 0;
  list-style-type: none;
  padding: 0 15px;
  display: block;

  /* border: 1px solid black; */
}

.ms-post-footer-item {
  float: left;
  margin-left: 20px;
}

.ms-hrline-afterpost {
  margin: auto;
  z-index: 1;
  height: 5px;
  background-color: grey;
}

/* end style for post */

/* style for post footer icons */

.ms-comment-logo {
  margin-top: 5px;
}

.ms-comment-logo:hover {
  content: url("../logos/comment_logos/filledComment.png");
}

.ms-statistics-logo {
  height: 23px;
  width: 23px;
  margin-top: 0px;
}

.ms-statistics-logo:hover {
  content: url("../logos/statistics_logos/filledStatistics.svg");
}

/* end of style for post footer icons */

/* responsive styles */

/* hidding elements that are for medium size devices */
.ms-medium-and-up {
  display: none !important;
}

/* styles for notification page */

.ms-notification-page {
  font-size: 16px;
  margin-bottom: 30px;
  background-color: white;
  min-height: calc(100vh - 67px);
  padding-top: 15px;
  padding-bottom: 25px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-radius: 4px;
}

.ms-notification-item {
  text-decoration: none;
  list-style: none;
  background-color: white;
  margin: 2px 0;
  padding: 10px 0;
}

.ms-notification-item:hover {
  border-radius: 4px;
  background-color: #edeff1;
}

/* end of styles for notification page */

/* styles for setting page */

.ms-setting-page {
  background-color: white;
  min-height: calc(100vh - 67px);
  width: 100%;
  padding: 20px 0;
  border-radius: 4px;
}

.ms-setting-item {
  text-align: center;
  list-style: none;
  display: block;
  padding: 13px 0;
  background-color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.ms-setting-item:hover {
  /* color: white; */
  background-color: #edeff1;
}

/* end of styles for setting page */

/* styles for profile page */

.ms-profile-page {
  background-color: white;
  min-height: calc(100vh - 67px);
  width: 100%;
  padding: 20px 0;
  /* text-align: center; */
  border-radius: 4px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.ms-profile-header {
  margin: 5px 0;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  padding: 15px 0;
}

.ms-profile-item {
  padding: 5px 0;
  margin-left: 20%;
}

.ms-profile-label {
  display: inline-block;
  width: 120px;
  color: #6c757d;
  font-style: italic;
}

/* end of styles for profile page */

/* styles for find peoples page */

.ms-findpeoples-page {
  font-size: 16px;
  margin-bottom: 20px;
  min-height: calc(100vh - 67px);
  padding-top: 8px;
  padding-bottom: 25px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-radius: 4px;
}

.ms-findpeoples-item {
  background-color: white;
  margin: 1px 0;
  padding: 27px 30px;
  height: 70px;
  font-size: 16px;
}

.ms-findpeoples-name {
  float: left;
  font-size: 19px;
}

.ms-findpeoples-button {
  float: right;
  border: 1px solid black;
  border-radius: 4px;
  width: 100px;
  height: 35px;
  margin-top: -9px;
  /* padding: 7px 15px; */
  color: white;
  background-color: #00802b;
  font-family: Arial, Helvetica, sans-serif;
}

/* end of styles for find peoples page */

.ms-searched-profile {
  margin-bottom: 10px;
}

/* poll detail view loading page */
.ms-detailedPoll-loading-page {
  font-size: 20px;
  background-color: white;
  min-height: calc(100vh - 67px);
  padding: 40% 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-radius: 4px;
}

.ms-poll-comments-container {
  /* background-color: white; */
  width: 100%;
  white-space: normal;
  margin-bottom: 10px;
  /* border-top: 1px solid #6c757d; */
}

.ms-poll-comments-header {
  background-color: white;
  padding: 15px 15px;
  display: block;
  font-size: 16px;
  /* font-weight: 500; */
  font-family: Arial, Helvetica, sans-serif;
}

.ms-poll-replies-header {
  background-color: rgb(246, 248, 248);
  margin-top: 15px;
  border: 1px solid #afb3b6;
  border-radius: 4px;
  padding: 15px 15px;
  display: block;
  font-size: 16px;
  /* font-weight: 500; */
  font-family: Arial, Helvetica, sans-serif;
}

.ms-poll-comments-body {
  /* padding: 15px 15px; */
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}

.ms-poll-replies-body {
  /* padding: 15px 15px; */
  border-radius: 4px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}

.ms-poll-single-comment {
  background-color: white;
  /* border-radius: 4px; */
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 15px 20px;
}

.ms-poll-single-comment-reply {
  background-color: rgb(246, 248, 248);
  padding: 15px 20px;
  border: 1px solid #afb3b6;

  /* border-bottom: 1px solid #afb3b6; */
  /* border-radius: 4px; */
  /* margin-bottom: 5px; */
  /* width: 80%;
  margin-left: 20%; */
}

.ms-poll-single-comment-header {
  font-size: 14px;
  margin-bottom: 15px;
  color: #3d4146;
}

.ms-poll-single-comment-footer {
  margin-top: 15px;
  font-size: 12px;
  font-weight: 550;
}

.ms-poll-single-comment-footer-item {
  display: inline-block;
  margin-right: 15px;
}

.ms-post-detailview {
  margin-top: 11px;
  margin-bottom: 47px;
}

.ms-replies-container {
  display: none;
}

.ms-comment-input {
  border-radius: 4px;
  border: 1px solid #6c757d;
  padding: 7px 7px;
  width: 200px;
}

.ms-comment-button {
  font-weight: 550;
  border-radius: 4px;
  margin-left: 5px;
  padding: 7px 5px;
  width: 80px;
  color: white;
  border: 1px solid black;
  background-color: #128291;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* grid view for medium and larger devices */

  /* hiding setting */

  .setting-list-item {
    display: none;
  }

  .item3 {
    display: none;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 30% 70%;
    /* grid-gap: 8px; */
    grid-column-gap: 8px;
    grid-row-gap: 0px;
    padding-left: 5px;
    padding-right: 23px;
  }

  .item2 {
    /* border: 1px solid black; */
    grid-column-start: 2;
    grid-column-end: 4;
    overflow: auto;
    word-wrap: break-word;
    min-height: calc(100vh - 85px);
    height: auto;
    margin-top: 15px;
  }

  .ms-medium-and-up {
    display: block !important;
  }

  .ms-top-navbar-item {
    float: left;
    width: 14.28%;
  }

  /* styling the horizontal line after post */
  .ms-hrline-afterpost {
    margin-left: 15px;
  }

  /* setting the post border radius */
  .post {
    border-radius: 4px;
  }

  .timeline {
    margin-top: 0;
    margin-bottom: 0;
  }

  .ms-addpost {
    border-radius: 4px;
    margin-bottom: 0;
  }

  .post-author-name {
    font-size: 20px;
  }

  .post-date {
    font-size: 17px;
  }

  .post-para {
    font-size: 17 px;
  }

  /* sidebar style */

  .item1 {
    display: block;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 16px;
    border-radius: 4px;
    z-index: 4;
  }

  /* styles for the sidebar */

  .ms-sidebar {
    display: block;
    width: 28.8%;
    position: fixed;
    z-index: 5;
    top: 60px;
    left: 7px;
    background: white;
    border-radius: 4px;
    text-align: center;
    padding: 0 10px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .ms-setting-item {
    list-style: none;
    display: block;
    margin: 5px 0;
    padding: 10px 0;
    border-radius: 4px;
    font-size: 18px;
  }
  .ms-sidebar-item:hover {
    color: white;
    background-color: rgb(27, 27, 27);
  }

  .ms-register-form {
    margin-top: 52px;
    padding: 35px 0;
    position: fixed;
  }

  .ms-form-input {
    width: 25% !important;
  }
  .ms-form-button {
    width: 25% !important;
  }

  .ms-loginform {
    padding-top: 15%;
  }

  .ms-addpost-input {
    width: 60% !important;
    font-size: 20px !important;
  }

  /* end of styles for the sidebar */

  .ms-notification-item {
    width: 96%;
    margin: 2px 2%;
    padding: 15px 0;
  }

  .ms-profile-item {
    margin-left: 35%;
  }

  .ms-findpeoples-page {
    font-size: 18px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    border-radius: 4px;
  }

  .ms-findpeoples-item {
    border-radius: 4px;
    margin: 0 0;
    margin-bottom: 5px;
    padding: 31px 50px;
    height: 80px;
  }

  .ms-findpeoples-button {
    font-size: 17px;
    width: 100px;
    height: 40px;
    margin-top: -9px;
    /* padding: 7px 15px; */
    color: white;
    background-color: #00802b;
    font-family: Arial, Helvetica, sans-serif;
  }

  .ms-search-page {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }

  .ms-detailedPoll-loading-page {
    padding: 20% 0;
  }

  .ms-poll-comments-container {
    border-radius: 4px;
  }

  .ms-poll-comments-header {
    border-radius: 4px;
  }

  .ms-poll-single-comment {
    border-radius: 4px;
  }

  .ms-post-detailview {
    margin-top: 0;
    margin-bottom: 0;
  }

  .ms-poll-single-comment-reply {
    border-radius: 4px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .grid-container {
    grid-template-columns: 25% 75%;
  }

  .ms-sidebar {
    width: 24.3%;
  }
  .ms-notification-item {
    font-size: 17px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .grid-container {
    grid-template-columns: 20% 80%;
  }

  .ms-sidebar {
    width: 19.5%;
  }
}
